html
{
  width: 1260px;
  height: 880px;
  background-color: #edf2c5;
  margin: auto;
}
.body
{  
  padding: 36px 160px 0 160px;
  margin: 0 ;
}
.v1
{
  display: flex;
  flex-direction: row;
 
}
.v1-1
{
  display: flex;
  flex-direction: row;
  margin-top:10px;
}
.vegetable
{
  width: 271px;
  height: 62px;
  font-family: Arial;
  font-size: 44px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.82;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
}
.btn-f
{
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-left: 465px;
}
.btn-in
{
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-left: 10px;
}
.line
{
  width: 1px;
  height: 25px;
  background-color: #778a50;
  margin-left: 10px;
}
.btn-log
{
  width: 60px;
  height: 25px;
  border: solid 1px #778a50;
  margin-left: 10px;
  border-radius: 3px;
}
.login
{
  width: 46px;
  height: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
  margin: 0;
  padding: 5px 5px 5px 10px ;
}
.btn-jon
{
  width: 49px;
  height: 25px;
  border: solid 1px #778a50;
  margin-left: 10px;
  border-radius: 3px;
}
.join
{
  width: 35px;
  height: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
  margin: 0;
  padding:5px 5px 5px 10px ;
}
.v2
{
  width: 924px;
  height: 44px;
  border-radius: 3px;
  background-color: #778a50;
  margin-top: -20px;
}
ul
{
  display: flex;
  flex-direction: row;
}
li
{
padding: 10px 0 0 0;
}
.home
{
  width: 51px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  display: inline-block;
}
.about
{
  width: 80px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  display: inline-block;
  margin-left: 60px;
}
.vegetables
{
  width: 98px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  display: inline-block;
  margin-left: 60px;
}
.online
{
  width: 56px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  display: inline-block;
  margin-left: 60px;
}
.contact
{
  width: 69px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  display: inline-block;
  margin-left: 60px;
}
.v3
{
  width: 924px;
  height: 448px;
  object-fit: contain;
  padding: 20px 0 0 0 ;
  margin: 0;
}
.v4
{
  display: flex;
  flex-direction: row;
}
.v4-1
{
  width: 444px;
  height: 45px;
  border-radius: 3px;
  background-color: #778a50;
  margin-top: 30px;
}
.ve
{
  width: 98px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  padding: 0px 316px 20px 30px;
  margin-top: 10px;
}
.v4-2
{
  width: 444px;
  height: 45px;
  border-radius: 3px;
  background-color: #778a50;
  margin-top: 30px;
  margin-left: 52PX;
}
.co
{
  width: 69px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  padding: 0px 316px 20px 30px;
  margin-top: 5px;
}
.v5
{
  display: flex;
  flex-direction: row;
}
.vp
{
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-top: 15px;
}
.vc
{
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-top: 15px;
  margin-left: 12px;
}
.vco
{
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-top: 15px;
  margin-left: 12px;
}
.v5-1
{
  width: 444px;
  height: 140px;
  background-color: #f7fbda;
  margin-top: 15px;
  margin-left: 52px;
  border-radius: 3px;
}
.for
{
  width: 414px;
  height: 44px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
  margin-left: 15px;
}
.line2
{
  width: 399px;
  height: 1px;
  background-color: #7d7d7d;
  margin-left: 15px;
  
}
.em
{
  width: 197px;
  height: 35px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
  margin-left: 15px;
}
footer
{
  width: 1260px;
  height: 60px;
  background-color: #778a50;
  margin-top: 35px;
}
.cop
{
  width: 301px;
  height: 14px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  padding: 1px 479px 23px 480px;
}